*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}


.screen{
    height: 100vh;
    background-color: black;
}

.speaker-view{
    display:flex;
    gap:10px;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    top:0px;
    padding-bottom: 20px;
    z-index: 1; 
    background-color:black;
}

.speaker-view div{
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
    color: white;
}

.image-box{
    max-width:1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow:auto;
    height: 85vh;


}

.image{
    position: relative;
    width: calc(100% /4);
    padding: 10px;
}

.image img{
  width:100%;
  height: 100%;
}

.pinco{
    position: absolute;
    top:180px;
    color: white;
    background-color: rgba(128, 128, 128, 0.653);
}


/*nav start*/
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    position: fixed;
    bottom: 0vh;
    z-index: 2;
}

.div1,.div2,.div3{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap:10px;
    color: white;
}

nav .element{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.fa-share-from-square{
    color:rgba(78, 211, 0, 1);
}

nav i{
    font-size: 30px;
    margin-bottom: 10px;
}

 nav .fa-chevron-up{
    font-size: 15px;
} 


.div3{
    padding: 10px;
    color: red;
    background-color:rgba(74, 74, 74, 1) ;
}


/*nav end*/